
/* paul irish border box styling */
html {
    box-sizing: border-box;
  }

*, *:before, *:after {
  box-sizing: inherit;
}
body {

    /* background-image: url("../img/lightwoodplank.jpg"); */
    /* background-image: url("../img/table-slant.jpg"); */
    background-image: url("../img/woodtable.jpg");
    background-repeat: no-repeat;
    max-width: 100vw;
    max-height: 100vh;  
    /* hides if it doesn't fit! */
    overflow: hidden;  
    font-family:  Montserrat, 'Times New Roman', Times, serif;
    font-family: "Architects Daughter";

    }
.temp{
  position: absolute;
  display: none;
}
h1 {
  text-align: center;
  color : #FFC24F;
}
   
.title {
  font-size: 48px;
  color: #377872;
  font-weight: bold;
  positon: absolute;
}

.maincontainer {
  display:flex;
  position: absolute;
  /* border: 2px solid red; */
  top:70px; 
  left:50%;
  transform: translate(-50%,0%); 

}

.search, .result, .running , .mapall{
  
  /* this rotates the napkin - and all the text */
  /* transform: rotatez(-8deg); */
  /* this does a tilt - so napkin appears flat on slanted table */
  transform: perspective(400px) rotatex(9deg);

  /* display:flex; */
  /* width:max-content; */
  /* height:max-content; */
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%,-50%);  */
  /* border: 2px solid blue; */

}

.cardpictureframe {
  /* width:90vh; */
  width:90vw;
  padding-top: 100%;  /*forces square */
  /* position: absolute; */
  /* top: 0;
  left: 50%; */
  /* top: 50%;
  right: 50%;*/
  /* transform: translate(0,-50%);   */
  /* border: 2px solid green; */


}
.cardbackgroundpic {
  position: absolute;
  top: 0;
}
.cardbackgroundpic img{
  /* position: absolute; */
  /* background-image: url("/img/napkinwatermarkdropshadowsq.png"); */
  /* background-repeat: no-repeat; */
  width:100%;
  height:100%;
  object-fit: cover;
  /* top: 50%; */
  /* right: 50%; */
  /* transform: translate(-50%,-50%);  */
  /* border: 2px solid purple; */


}
      .search {
    /* width:300px; */
    /* height:300px; */
    /* border: 2px solid red; */
    /* background-color: #119e6a; */
    /* background-color: #377872; */
    padding:10px;
    border-radius:10%;
  }

  .search:hover {
    opacity: 1;
    z-index: 3;
  }
  
  .result {
    /* top:30vh;
    right: 20%; */
    /* background-color: #119e6a;
    background-color: #377872; */

    /* width :400px; */
    /* height: 500px; */
    /* border: 2px solid purple; */
    padding: 10px;
    border-radius:5%;
    line-height: 1.7em;  /*keep here?*/

  }
  .inputfields , .displaydata {
    /* border: 3px solid blue; */
    margin:30px;
    position: absolute;
    top: 10%;
    left: 10%;
    /* transform: translate(-50%,-50%); */
  }


.gobutton {
  font-size: 20px;
  border: 2px solid brown;
  float:right;
  padding:5px;
  /* position: absolute;
  right: 10%; */
  
}
.pictureframe {
  position:relative;
  margin:auto;
  width: 200px;
  height: 200px;
  /* object-fit: cover; */
}
.pictureframe > img {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
  
}
.brewerypicture {
  position: relative;
}

img {
  /* width:100%; */
}

  .hidden {
    display:none;
  }
  .checkbox {
    display:none;
  }
  .inputtype label {
    display: inline-block;
    border: 2px solid #377872;
    border: 2px solid white;
    border-radius: 5%;
    padding:3px 5px 3px 5px;
    margin:5px;
  }
.inputtype * {
  margin:50px;

}
.transparent {
  opacity: .5;
  z-index:-1;
}


  #micro:checked ~ .microlabel {
    background-color: #d1b97f;
  }
  #brewpub:checked ~ .brewpublabel {
    background-color: #d1b97f;
  }
  #large:checked ~ .largelabel {
    background-color: #d1b97f;
  }
  #bar:checked ~ .barlabel {
    background-color:#d1b97f
  }
  .breweryaddress, .breweryhours {
    white-space: pre-line;
  }

  /* change this for larger screens */
  
  /* when the width is larger than the height - the cards should be 90% of the height*/
  /* when the height is larger than the width - the cards should be 90% of the width */
@media only screen 
and (min-device-width: 800px) {
  .cardpictureframe {
  width:90vh; 
  }
  .maincontainer {
  }
 }
 /* Portrait styles */
 @media screen and (orientation:portrait) {
  .cardpictureframe {
    width:90vw;
  }
}
/* Landscape */
@media screen and (orientation:landscape) {
  .cardpictureframe {
  width:90vh;
 }
}
/* ----------- iPad Pro 12.9" ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
      background-size: 1366px 1366px;
     } 
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .maincontainer {
      top:50px;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .maincontainer {
      top:50px;
    }


}

/* old stuff for video */

/* video { */
  /* object-fit: fill; */
/* } */
      /* .background-wrapper .full-width-background {
        background-color: #252525;
        left: 50%;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transition: none; */
        /* width: 1200px; */
        /* object-fit: cover; */
        /* height: 700px; */
        /* z-index: -1; */
      /* } */
      
      /* .full-width-background { */
        /* width:100%;
        height:100%; */
        /* min-height: 100vh; */
        /* overflow: hidden; */
      /* } */
      
      /* .full-width-background video { */
        /* position: relative; */
        /* min-width: 100vw; */
        /* use this for full screen */
        /* min-height: 120vh; */
        
        /* we have to do this for iphones and devices!!! */
        /* min-height:2200px; */
        /* overflow: hidden;    */
        
        /* width:100% */
        /* top: 50%;
        left: 50%;
        transform: translate(-50%,-50%); */
        /* opacity: 50%; */
        /* object-fit: cover;     */
      /* } */

