
/* paul irish border box styling */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {

    font-family:  Montserrat, 'Times New Roman', Times, serif;
    font-family: "Architects Daughter";

      }
.title {
  font-size: 48px;
  color: #377872;
  font-weight: bold;
}
 .background-wrapper .full-width-background {
    background-color: #252525;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transition: none;
    /* width: 1200px; */
    /* object-fit: cover; */
    /* height: 700px; */
    z-index: -1;
}

.full-width-background {
  /* width:100%;
  height:100%; */
  /* min-height: 100vh; */
  overflow: hidden;
}

.full-width-background video {
  position: relative;
  /* min-width: 100vw; */
  /* use this for full screen */
  min-height: 120vh;

  /* we have to do this for iphones and devices!!! */
  /* min-height:2200px; */
  overflow: hidden;   

  /* width:100% */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    opacity: 50%;
  /* object-fit: cover;     */
}
.brewerypicture {
  position: relative;
}
.gobutton {
  font-size: 20px;
  border: 2px solid brown;
  float:right;
  padding:5px;
  /* position: absolute;
  right: 10%; */

}
.pictureframe {
  position:relative;
  margin:auto;
  width: 200px;
  height: 200px;
  /* object-fit: cover; */
}
.pictureframe > img {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;

}

video {
  /* object-fit: fill; */
}


  img {
    /* width:100%; */
  }
  h1 {
    text-align: center;
    color : #FFC24F;
  }

  .maincontainer {
    /* display: flex; */
    display:block;
    position: relative;
  }

  .leftcolumn {
    position: absolute;
    width:300px;
    /* height:300px; */
    left: 20%;
    /* border: 2px solid red; */
    /* background-color: #119e6a; */
    background-color: #377872;
    padding:10px;
    border-radius:10%;
  }
  .rightcolumn {
    position: absolute;
    top:30vh;
    right: 20%;
    background-color: #119e6a;
    background-color: #377872;

    width :400px;
    /* height: 500px; */
    /* border: 2px solid purple; */
    padding: 10px;
    border-radius:5%;

    line-height: 1.7em;


  }
  .inputfields {
    /* border: 3px solid blue; */
    margin:30px;
  }
  .displaydata {
    /* border: 3px solid blue; */
  }
  .hidden {
    display:none;
  }
  .checkbox {
    display:none;
  }
  .inputtype {
    /* display: inline-block; */

  }
  .inputtype label {
    display: inline-block;
    border: 2px solid #377872;
    border: 2px solid white;
    border-radius: 5%;
    padding:3px 5px 3px 5px;
    margin:5px;
  }
.inputtype * {
  margin:50px;

}
.transparent {
  opacity: .5;
  z-index:-1;
}
.leftcolumn:hover {
  opacity: 1;
  z-index: 3;
}
  #micro:checked ~ .microlabel {
    background-color: #d1b97f;
  }
  #brewpub:checked ~ .brewpublabel {
    background-color: #d1b97f;
  }
  #large:checked ~ .largelabel {
    background-color: #d1b97f;
  }
  #bar:checked ~ .barlabel {
    background-color:#d1b97f
  }

  /* change this for larger screens */
  /*
@media only screen 
and (min-device-width: 800px) {
  .full-width-background video {
    min-height: 100vh;
} }
@media only screen
and  (max-device-width: 1200px) {
}
*/


.breweryaddress, .breweryhours {
  white-space: pre-line;
}